<div class="login">
  <div class="content">
    <div class="titulos">
      <h3>Julius</h3>
      <h1>Login</h1>
    </div>
  
    <div>
      <mat-form-field appearance="outline" class="input-login">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Ingrese su usuario">
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="input-login">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Ingrese su contraseña">
      </mat-form-field>
    
      <button mat-raised-button color="primary" class="input-login">Iniciar sesión</button>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
