<div class="login">
  <div class="content">
    <div class="titulos">
      <h3>Julius</h3>
      <h1>Login</h1>
    </div>
  
    <!-- <form [formGroup]="form"> -->
      <div [formGroup]="form">
        <mat-form-field appearance="outline" class="input-login">
          <mat-label>Usuario</mat-label>
          <input matInput [formControl]="email" placeholder="Ingrese su usuario">
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="input-login">
          <mat-label>Contraseña</mat-label>
          <input type="password" [formControl]="password" matInput placeholder="Ingrese su contraseña">
        </mat-form-field>
      
        <button mat-raised-button color="primary" class="input-login" (click)="login()">Iniciar sesión</button>
      </div>
    <!-- </form> -->
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
